{{- with secret "homelab" "prod" "/arrs-stack" -}}
BAZARR_DOMAIN={{ .BAZARR_DOMAIN }}
BAZARR_HOME_DOMAIN={{ .BAZARR_HOME_DOMAIN }}
OVERSEERR_DOMAIN={{ .OVERSEERR_DOMAIN }}
OVERSEERR_HOME_DOMAIN={{ .OVERSEERR_HOME_DOMAIN }}
PROWLARR_DOMAIN={{ .PROWLARR_DOMAIN }}
PROWLARR_HOME_DOMAIN={{ .PROWLARR_HOME_DOMAIN }}
QBITTORRENT_DOMAIN={{ .QBITTORRENT_DOMAIN }}
QBITTORRENT_HOME_DOMAIN={{ .QBITTORRENT_HOME_DOMAIN }}
RADARR_DOMAIN={{ .RADARR_DOMAIN }}
RADARR_HOME_DOMAIN={{ .RADARR_HOME_DOMAIN }}
SONARR_DOMAIN={{ .SONARR_DOMAIN }}
SONARR_HOME_DOMAIN={{ .SONARR_HOME_DOMAIN }}
{{- end }}
