{{- with secret "homelab" "prod" "/dashboard" -}}
ADGUARD_HOME_DOMAIN={{ .ADGUARD_HOME_DOMAIN }}
ADGUARD_IP={{ .ADGUARD_IP }}
ADGUARD_PASSWORD={{ .ADGUARD_PASSWORD }}
ADGUARD_PORT={{ .ADGUARD_PORT }}
ADGUARD_USER={{ .ADGUARD_USER }}
BAZARR_API_KEY={{ .BAZARR_API_KEY }}
BAZARR_HOME_DOMAIN={{ .BAZARR_HOME_DOMAIN }}
DASHDOT_DOMAIN={{ .DASHDOT_DOMAIN }}
DASHDOT_HOME_DOMAIN={{ .DASHDOT_HOME_DOMAIN }}
DOCKHAND_HOME_DOMAIN={{ .DOCKHAND_HOME_DOMAIN }}
FILEBROWSER_HOME_DOMAIN={{ .FILEBROWSER_HOME_DOMAIN }}
HOMEPAGE_DOMAIN={{ .HOMEPAGE_DOMAIN }}
HOMEPAGE_HOME_DOMAIN={{ .HOMEPAGE_HOME_DOMAIN }}
JELLYFIN_API_KEY={{ .JELLYFIN_API_KEY }}
JELLYFIN_HOME_DOMAIN={{ .JELLYFIN_HOME_DOMAIN }}
OVERSEERR_API_KEY={{ .OVERSEERR_API_KEY }}
OVERSEERR_HOME_DOMAIN={{ .OVERSEERR_HOME_DOMAIN }}
PLEX_HOME_DOMAIN={{ .PLEX_HOME_DOMAIN }}
PLEX_TOKEN={{ .PLEX_TOKEN }}
PROWLARR_API_KEY={{ .PROWLARR_API_KEY }}
PROWLARR_HOME_DOMAIN={{ .PROWLARR_HOME_DOMAIN }}
PROXMOX_CLAIRE_HOME_DOMAIN={{ .PROXMOX_CLAIRE_HOME_DOMAIN }}
PROXMOX_CLAIRE_IP={{ .PROXMOX_CLAIRE_IP }}
PROXMOX_LEON_HOME_DOMAIN={{ .PROXMOX_LEON_HOME_DOMAIN }}
PROXMOX_LEON_IP={{ .PROXMOX_LEON_IP }}
PROXMOX_TOKEN_NAME={{ .PROXMOX_TOKEN_NAME }}
PROXMOX_TOKEN_SECRET={{ .PROXMOX_TOKEN_SECRET }}
PROXMOX_USER={{ .PROXMOX_USER }}
QBITTORRENT_HOME_DOMAIN={{ .QBITTORRENT_HOME_DOMAIN }}
QBITTORRENT_PASSWORD={{ .QBITTORRENT_PASSWORD }}
QBITTORRENT_USER={{ .QBITTORRENT_USER }}
RADARR_API_KEY={{ .RADARR_API_KEY }}
RADARR_HOME_DOMAIN={{ .RADARR_HOME_DOMAIN }}
SERVER_IP={{ .SERVER_IP }}
SONARR_API_KEY={{ .SONARR_API_KEY }}
SONARR_HOME_DOMAIN={{ .SONARR_HOME_DOMAIN }}
TRAEFIK_HOME_DOMAIN={{ .TRAEFIK_HOME_DOMAIN }}
{{- end }}
