{{- with secret "homelab" "prod" "/mcp-ssh-server" -}}
MCP_AUTH_TOKEN={{ .MCP_AUTH_TOKEN }}
MCP_DOMAIN={{ .MCP_DOMAIN }}
MCP_PORT={{ .MCP_PORT }}
MCP_PUBLIC_DOMAIN={{ .MCP_PUBLIC_DOMAIN }}
PROXMOX_CLAIRE_IP={{ .PROXMOX_CLAIRE_IP }}
PROXMOX_LEON_IP={{ .PROXMOX_LEON_IP }}
PROXMOX_TOKEN_SECRET={{ .PROXMOX_TOKEN_SECRET }}
SSH_HOST_HOMELAB={{ .SSH_HOST_HOMELAB }}
SSH_USER={{ .SSH_USER }}
{{- end }}
