{{- with secret "homelab" "prod" "/nextcloud" -}}
NEXTCLOUD_DOMAIN={{ .NEXTCLOUD_DOMAIN }}
NEXTCLOUD_HOME_DOMAIN={{ .NEXTCLOUD_HOME_DOMAIN }}
NEXTCLOUD_ADMIN_USER={{ .NEXTCLOUD_ADMIN_USER }}
NEXTCLOUD_ADMIN_PASSWORD={{ .NEXTCLOUD_ADMIN_PASSWORD }}
NEXTCLOUD_DB_NAME={{ .NEXTCLOUD_DB_NAME }}
NEXTCLOUD_DB_USER={{ .NEXTCLOUD_DB_USER }}
NEXTCLOUD_DB_PASSWORD={{ .NEXTCLOUD_DB_PASSWORD }}
NEXTCLOUD_DB_ROOT_PASSWORD={{ .NEXTCLOUD_DB_ROOT_PASSWORD }}
{{- end }}
