{{- with secret "homelab" "prod" "/traefik" -}}
CF_DNS_API_TOKEN={{ .CF_DNS_API_TOKEN }}
CLOUDFLARE_TUNNEL_TOKEN={{ .CLOUDFLARE_TUNNEL_TOKEN }}
TRAEFIK_BASIC_AUTH={{ .TRAEFIK_BASIC_AUTH }}
TRAEFIK_DOMAIN={{ .TRAEFIK_DOMAIN }}
TRAEFIK_LOCAL_DOMAIN={{ .TRAEFIK_LOCAL_DOMAIN }}
SERVER_IP={{ .SERVER_IP }}
PROXMOX_LEON_IP={{ .PROXMOX_LEON_IP }}
PROXMOX_LEON_DOMAIN={{ .PROXMOX_LEON_DOMAIN }}
PROXMOX_LEON_HOME_DOMAIN={{ .PROXMOX_LEON_HOME_DOMAIN }}
PROXMOX_CLAIRE_IP={{ .PROXMOX_CLAIRE_IP }}
PROXMOX_CLAIRE_DOMAIN={{ .PROXMOX_CLAIRE_DOMAIN }}
PROXMOX_CLAIRE_HOME_DOMAIN={{ .PROXMOX_CLAIRE_HOME_DOMAIN }}
PROXMOX_DOMAIN={{ .PROXMOX_DOMAIN }}
PROXMOX_HOME_DOMAIN={{ .PROXMOX_HOME_DOMAIN }}
PLEX_IP={{ .PLEX_IP }}
PLEX_DOMAIN={{ .PLEX_DOMAIN }}
PLEX_HOME_DOMAIN={{ .PLEX_HOME_DOMAIN }}
ADGUARD_IP={{ .ADGUARD_IP }}
ADGUARD_PORT={{ .ADGUARD_PORT }}
ADGUARD_DOMAIN={{ .ADGUARD_DOMAIN }}
ADGUARD_HOME_DOMAIN={{ .ADGUARD_HOME_DOMAIN }}
ADGUARD_SECONDARY_IP={{ .ADGUARD_SECONDARY_IP }}
ADGUARD_SECONDARY_DOMAIN={{ .ADGUARD_SECONDARY_DOMAIN }}
ADGUARD_SECONDARY_HOME_DOMAIN={{ .ADGUARD_SECONDARY_HOME_DOMAIN }}
UPSNAP_IP={{ .UPSNAP_IP }}
UPSNAP_HOME_DOMAIN={{ .UPSNAP_HOME_DOMAIN }}
HOMARR_DOMAIN={{ .HOMARR_DOMAIN }}
HOMARR_HOME_DOMAIN={{ .HOMARR_HOME_DOMAIN }}
{{- end }}
