HOMARR_DOMAIN=homarr.seudominio.com
HOMARR_HOME_DOMAIN=homarr.home.seudominio.com
OVERSEERR_DOMAIN=overseerr.seudominio.com
OVERSEERR_HOME_DOMAIN=overseerr.home.seudominio.com
PROWLARR_DOMAIN=prowlarr.seudominio.com
PROWLARR_HOME_DOMAIN=prowlarr.home.seudominio.com
RADARR_DOMAIN=radarr.seudominio.com
RADARR_HOME_DOMAIN=radarr.home.seudominio.com
SONARR_DOMAIN=sonarr.seudominio.com
SONARR_HOME_DOMAIN=sonarr.home.seudominio.com
BAZARR_DOMAIN=bazarr.seudominio.com
BAZARR_HOME_DOMAIN=bazarr.home.seudominio.com
QBITTORRENT_DOMAIN=qbittorrent.seudominio.com
QBITTORRENT_HOME_DOMAIN=qbittorrent.home.seudominio.com
