HOMARR_DOMAIN=homarr.seudominio.com
OVERSEERR_DOMAIN=overseerr.seudominio.com
PROWLARR_DOMAIN=prowlarr.seudominio.com
RADARR_DOMAIN=radarr.seudominio.com
SONARR_DOMAIN=sonarr.seudominio.com
BAZARR_DOMAIN=bazarr.seudominio.com
QBITTORRENT_DOMAIN=qbittorrent.seudominio.com
