CF_DNS_API_TOKEN=
CLOUDFLARE_TUNNEL_TOKEN=
TRAEFIK_BASIC_AUTH=
TRAEFIK_DOMAIN=traefik.seudominio.com
PROXMOX_LEON_IP=192.168.X.X
PROXMOX_CLAIRE_IP=192.168.X.X
ADGUARD_IP=192.168.X.X
ADGUARD_SECONDARY_IP=192.168.X.X
ADGUARD_PORT=3000
PROXMOX_LEON_DOMAIN=proxmox-leon.seudominio.com
PROXMOX_CLAIRE_DOMAIN=proxmox-claire.seudominio.com
ADGUARD_DOMAIN=adguard.seudominio.com
ADGUARD_SECONDARY_DOMAIN=adguard-secondary.seudominio.com
