CF_DNS_API_TOKEN=
CLOUDFLARE_TUNNEL_TOKEN=
TRAEFIK_BASIC_AUTH=
TRAEFIK_DOMAIN=traefik.seudominio.com
PROXMOX_LEON_IP=192.168.X.X
PROXMOX_CLAIRE_IP=192.168.X.X
ADGUARD_IP=192.168.X.X
ADGUARD_SECONDARY_IP=192.168.X.X
ADGUARD_PORT=3000
TRAEFIK_LOCAL_DOMAIN=traefik.home.seudominio.com
PROXMOX_LEON_DOMAIN=proxmox-leon.seudominio.com
PROXMOX_LEON_HOME_DOMAIN=proxmox-leon.home.seudominio.com
PROXMOX_DOMAIN=proxmox.seudominio.com
PROXMOX_HOME_DOMAIN=proxmox.home.seudominio.com
PLEX_DOMAIN=plex.seudominio.com
PLEX_HOME_DOMAIN=plex.home.seudominio.com
PLEX_IP=192.168.X.X
PROXMOX_CLAIRE_DOMAIN=proxmox-claire.seudominio.com
PROXMOX_CLAIRE_HOME_DOMAIN=proxmox-claire.home.seudominio.com
ADGUARD_DOMAIN=adguard.seudominio.com
ADGUARD_HOME_DOMAIN=adguard.home.seudominio.com
ADGUARD_SECONDARY_DOMAIN=adguard-secondary.seudominio.com
ADGUARD_SECONDARY_HOME_DOMAIN=adguard-secondary.home.seudominio.com
