INFISICAL_HOME_DOMAIN=infisical.home.seudominio.com
# gerar com: openssl rand -hex 16
INFISICAL_ENCRYPTION_KEY=
# gerar com: openssl rand -base64 32
INFISICAL_AUTH_SECRET=
INFISICAL_DB_NAME=infisical
INFISICAL_DB_USER=infisical
INFISICAL_DB_PASSWORD=
# preenchido após criar Machine Identity no Infisical
INFISICAL_AGENT_CLIENT_ID=
INFISICAL_AGENT_CLIENT_SECRET=
