GRAFANA_DOMAIN=grafana.seudominio.com
GRAFANA_HOME_DOMAIN=grafana.home.seudominio.com
PROMETHEUS_DOMAIN=prometheus.seudominio.com
PROMETHEUS_HOME_DOMAIN=prometheus.home.seudominio.com
NETDATA_DOMAIN=netdata.seudominio.com
NETDATA_HOME_DOMAIN=netdata.home.seudominio.com
